---
import astroLogo from "../assets/astro.svg";
---

<main class="max-w-6xl mx-auto pt-[150px] pb-30">
	<div class="grid grid-cols-1 md:grid-cols-5 gap-12 items-center">
		<!-- Texto 40% -->
		<section class="md:col-span-2 text-center md:text-left space-y-6">
			<h1
				class="text-4xl md:text-6xl font-extrabold text-gray-900 leading-tight"
			>
				Plan de alternancia
			</h1>
			<p class="text-lg md:text-xl text-gray-600 leading-relaxed">
				Conoce los días que debes estar de manera presencial en la
				oficina.
			</p>
			<a
				href="https://actores.sharepoint.com/:x:/s/administracion_Actores/EUfjh4nhdt9Liw8MUnRDraoBXmISZxh1I478qOeUv2gspA?e=T0H3Gp"
				target="_blank"
				class="inline-block px-8 py-3 rounded-lg text-white text-lg font-semibold shadow-md transition-colors duration-300"
				style="background-color: #642D8E;"
				onmouseover="this.style.backgroundColor='#4e2070'"
				onmouseout="this.style.backgroundColor='#642D8E'"
			>
				Horarios S.C.G.
			</a>
		</section>

		<!-- Imagen 60% -->
		<section class="md:col-span-3 flex justify-center">
			<img
				src="./imagenes/a.webp"
				alt="Plan de alternancia"
				class="w-full max-w-2xl rounded-xl shadow-2xl object-cover"
				fetchpriority="high"
			/>
		</section>
	</div>
</main>
